.btn {
  height: fit-content;
  border-radius: var(--radius-full);
  text-decoration: none;
  cursor: pointer;

  &.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-cream-100);
  }

  &.btn-secondary {
    border: var(--border);
    background-color: var(--color-secondary);
  }

  &.btn-md {
    padding: 0.5rem 0.875rem;
    font-size: var(--font-size-xs);
  }
  &.btn-lg {
    padding: 1.125rem 1.875rem;
    font-size: var(--font-size-base);
  }
}
