.h2 {
  margin-bottom: 0;
}

.overline {
  margin-bottom: 0;
}

.entry {
  display: flex;
  gap: 1.75rem;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.entry-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.entry-details,
.entry-modify {
  display: flex;
  align-items: center;
  color: var(--color-brown-100);

  @media (max-width: 980px) {
    margin-top: 0.5rem;
  }
}

.entry-details {
  gap: 0.875rem;
  font-size: var(--font-size-2xs);
}
.entry-modify {
  gap: 0.375rem;
  font-family: var(--font-mono);
  font-size: var(--font-size-lg);

  @media (max-width: 980px) {
    align-self: end;
  }
}

.entry-prompts-mobile-tab {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 1.125rem 0.75rem 1.125rem 0.875rem;
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  color: var(--color-cream-100);
  background-color: var(--color-primary);
}

.entry-prompts {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  @media (max-width: 980px) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 1rem;
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
    background-color: var(--color-cream-100);

    &.open {
      transform: translateX(0);
      transition: transform 0.26s cubic-bezier(0.2, 0.7, 0.2, 1);
    }
  }
}

.moods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#moment {
  resize: none;
  border: none;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: none;
    outline: none;
  }

  &:focus-within {
    background-color: var(--color-cream-200);
  }
}

#quote {
  border: none;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: none;
    outline: none;
  }

  &:focus-within {
    background-color: var(--color-cream-200);
  }
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(43, 29, 20, 0.4);

  @media (max-width: 980px) {
    &.open {
      display: block;
      opacity: 1;
    }
  }
}
