.canvas {
  touch-action: none;
  pointer-events: all;
}

.canvas-wrapper {
  width: fit-content;
  border: var(--border);
  border-radius: var(--radius-md);
  background-color: var(--color-cream-100);
  box-shadow: var(--box-shadow);
}

/* canvas header */
.canvas-header {
  display: flex;
  padding: 0.625rem 0.875rem 0.625rem 1rem;

  .entry-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
    padding: 0.25rem 0.625rem;
    border: var(--border);
    border-radius: var(--radius-full);
    font-size: var(--font-size-2xs);
    background-color: var(--color-cream-200);

    &::before {
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: var(--radius-round);
      background-color: var(--color-accent);
    }
  }

  .title {
    font-family: var(--font-mono);

    &::before {
      content: "~ ";
    }

    &::after {
      content: "~ ";
    }
  }
}

/* canvas toolbar */
.canvas-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem 0.875rem;
  gap: 1rem;
}

.pens {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.color-palette {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  .color {
    position: relative;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    border: var(--border);
    border-radius: var(--radius-round);
    cursor: pointer;

    &.active::after {
      content: "";
      position: absolute;
      border: 1px dashed var(--color-primary);
      border-radius: var(--radius-round);
      inset: -4px;
    }
  }

  .color-black {
    background-color: #5a4636;
  }

  .color-pink {
    background-color: #ffccd2;
  }

  .color-blue {
    background-color: #b7c9e2;
  }
  .color-purple {
    background-color: #e5c9f0;
  }
}

.controls {
  display: flex;
  margin-left: auto;
}
